@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f3f3f3;
  font-family: 'Poppins',sans-serif;
}


.heading{
  background-color: yellow;
  color: #ffffff;
  margin-bottom: 30px;
  padding: 50px 0 30px 30px;
  grid-column: 1/-1;
  text-align: center;
}

.heading h1 {
  font-family: 'Satisfy', cursive;
  color: black;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.heading h2 {
  font-family: 'Satisfy', cursive;
  color: black;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  margin-left: 15px;
}

.heading a {
  font-size: 3vmin;
  color: white;
  text-decoration: underline;
  font-size: 3rem;
  color: black;
  font-family: 'Satisfy', cursive;
}

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    text-align: center;
  }
  
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    color: #007bff;
  }
  
  form label {
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form textarea {
    resize: vertical;
  }
  
  form button {
    background-color: yellow;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }