@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3f3f3;
    font-family: 'Poppins',sans-serif;
}

.menu{
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
}

.heading{
    background-color: yellow;
    color: #ffffff;
    margin-bottom: 30px;
    padding: 50px 0 30px 30px;
    grid-column: 1/-1;
    text-align: center;
}

.heading h1 {
    font-family: 'Satisfy', cursive;
    color: black;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.heading h2 {
    font-family: 'Satisfy', cursive;
    color: black;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    margin-left: 15px;
}

.heading a {
    font-size: 3vmin;
    color: white;
    text-decoration: underline;
    font-size: 3rem;
    color: black;
    font-family: 'Satisfy', cursive;
}


.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 -100px;
}

.food-items {
    margin-left: 240px;
}

.food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}

.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}

.details-sub h5{
    font-weight: 600;
    font-size: 18px;
}

.price{
    text-align: right;
}

.details p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}

.details button{
  background-color: yellow;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 30px;
  padding: 14px 24px;
  border: none;
}

section .footer {
    background-color: yellow;
    text-align: center;
    padding: 20px 0;
    height: 200px;
  }
  
  section .footer-text {
    margin-top: 40px;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  section .footer-text {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
  }
  
  section .small-text {
    font-size: 14px;
  }
  